body {
  color: "#22222220";
  background-image: url("https://media.gettyimages.com/id/1309139409/vector/abstract-squares-background.jpg?s=612x612&w=0&k=20&c=b8a1WyjfiDmnPiDbUGZ5jqablGSg1ZNo8y65g-n3tLk=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
